.addBlockOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addBlockOptionsButton {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addBlockOptionsButton > img {
  width: 2rem;
  height: 2rem;
}
.addBlockOptionsOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addBlockOptionsOption {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
}

.addBlockOptionsOption:hover {
  border: rgba(0, 0, 0, 0.3) solid 1px;
}

