.block {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.editor {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 80vh;
}
[contenteditable] {
  text-align: left;
  width: 100%;
  padding: 1rem;
}
[contenteditable]:focus {
}

.blockEditor {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

.blockLevelOptions {
  background-color: rgba(0, 0, 0, 0.2);
}

.preview {
  text-align: left;
}
