.Tabbed {
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 1000px;
  margin: 0 auto;
}
.Tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.Tab {
  display: inline-block;
  text-align: left;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.TabActive {
  background-color: rgba(0, 0, 0, 0.3);
}
.TabbedContent {
  min-height: 2rem;
}
